{% extends 'baseTherapist.html.twig' %}


    {% block content %}
        <div class="container-fluid mt-2 py-4 px-4 background">
            <p>Votre demande de réinitialisation de mot de passe a bien été prise en compte. <br> Un mail va vous être envoyé, vérifiez votre boîte de réception !</p>
        </div>
    {% endblock %}