{% extends 'baseTherapist.html.twig' %}

{% block title %}Partenaires | PictoPicto{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/connexion.css') }}" type="text/css">
{% endblock %}
{% block body %}
    <div class="container-fluid" id="wrapper">
        <div class="text-center py-4">
            <a id="logo" href="{{ path('home') }}"><img src="{{ asset('img/LogoEcam.png') }}" alt="PictoPicto">
            </a>
        </div>
        <div class="px-auto text-light text-center">
            <h2 class="display-6 my-2">Partenaires</h2>
            <ul class="list-unstyled py-2">
                <li class="my-2">Ecole d'Ingénieur :
                    <ul class="list-unstyled">
                        <li><strong>ECAM-EPMI</strong></li>
                    </ul>
                </li>
                <li class="my-2">Fondation :
                    <ul class="list-unstyled">
                        <li><strong>Terre Plurielle de l'entreprise Bouygues Construction</strong></li>
                    </ul>
                </li>
                <li class="my-2">Instituts Medico-éducatif (IME) :
                    <ul class="list-unstyled">
                        <li><strong>Alfred BINET (Mureaux)</strong></li>
                        <li><strong>Le Clos du Parisis (Montigny-les-Cormeilles)</strong></li>
                        <li><strong>La Boussole Bleue (Villiers-le-Bel)</strong></li>
                    </ul>
                </li>
                <li class="my-2">Services d'Education Spéciale et de Soins A Domicile (SESSAD) :
                    <ul class="list-unstyled">
                        <li><strong>Boussole Bleue</strong></li>
                    </ul>
                </li>
                <li class="my-2">Associations :
                    <ul class="list-unstyled">
                        <li><strong>Ecoute Parents Enfants Autistes (Cormeilles en Parisis)</strong></li>
                        <li><strong>HORS-CADRE (Cormeilles en Parisis)</strong></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="mt-5">
            <a class="text-white" href="{{ path('home') }}">Retour à l'accueil</a>
        </div>
    </div>
{% endblock %}

