{% extends 'baseTherapist.html.twig' %}

{% block title %}Partenaires | PictoPicto
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/test.css') }}" type="text/css">
{% endblock %}
{% block body %}
	<div class="container-fluid" id="wrapper">
		<div class="text-center py-4">
			<a id="logo" href="{{ path('home') }}"><img src="{{ asset('img/LogoEcam.png') }}" alt="PictoPicto">
			</a>
		</div>
        <div class="container">
            <table class="table table-hover px-auto text-light text-center">
                <thead>
                    <tr>
                    <th colspan="2"><h2 class="display-6 my-2">Partenaires</h2></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th >Ecole d'Ingénieur</th>
                        <td>ECAM-EPMI</td>
                    </tr>
                    <tr>
                        <th>Fondation </th>
                        <td>Terre Plurielle de l'entreprise Bouygues Construction</td>
                    </tr>
                    <tr>
                        <th >Services d'Education Spéciale et de Soins A Domicile (SESSAD)</th>
                        <td >Boussole Bleue</td>
                    </tr>
                     <tr>
                        <th rowspan="3">Instituts Medico-éducatif (IME)</th>
                        <td>Alfred BINET (Mureaux)</td>
                    </tr>
                    <tr>
                        <td>Le Clos du Parisis (Montigny-les-Cormeilles)</td>
                    </tr>
                    <tr>
                        <td>La Boussole Bleue (Villiers-le-Bel)</td>
                    </tr>

                    <tr>
                        <th rowspan="2">Associations</th>
                        <td>Ecoute Parents Enfants Autistes (Cormeilles en Parisis)</td>
                    </tr>
                    <tr>
                        <td>HORS-CADRE (Cormeilles en Parisis)</td>
                    </tr>
                </tbody>
            </table>
                <div class="mt-5 text-center ">
                    <a class="Retour" href="{{ path('home') }}">Retour à l'accueil</a>
                </div>
        </div>
    </div>
{% endblock %}
